img 
{
    width: 500px;
    height: 500px;
}
.div
{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.button
{
    padding: 15px 10px; 
    color: azure;
    background-color: blueviolet;
    border-radius: 5px;
}